
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_L2.cshtml";
}

<style>
    .header a.Login {
        background-color: dodgerblue;
        color: white;
    }
</style>
<link href="~/Content/admin_login.css" rel="stylesheet" type="text/css" />
<fieldset>
    <legend> <b>Donar Login</b> </legend>
    <br>
    <form action="" method="POST">
        <br>
        <label>Username: </label>
        <input type="text" placeholder="Enter username" name="username">


        <label>Password: </label>
        <input type="password" placeholder="Enter Password" name="Password">


        <input type="checkbox" name="remember">
        <label for="remember">  Remember me</label><br>

        <br>
        <input id="sub2" type="reset" name="reset" value="Reset">
        <input id="sub1" type="submit" name="Login" value="Login">
    </form>
    <span class="alert-warning" style="color:orangered"><b>@TempData["error"]</span>
    <br><br>
    <b>Forget password? Send a email <a href="mailto:abc@example.com?subject = Feedback&body = Message">here</a> with username to reset password.</b><br>

</fieldset>
<br />

