<style>
    .site-footer {
        background-color: #26272b;
        padding: 45px 0 20px;
        font-size: 15px;
        line-height: 24px;
        color: #f1f1f1;
    }

    .container1 {
        text-align: center;
    }

</style>
<body>
    <footer class="site-footer">
        <div class="container1">
            <p>No Food Waste is a Not-For-Profit surplus food management organisation connecting untouched edible surplus food with needy people for making the World Hunger Free and Zero Food Waste.</p>
            <h4> &copy; 2022. Zero Hunger Ltd</h4>
            <address>
                Mail at <a href="info@ZH.com">info@ZH.com</a><br>
                Visit us at: House #16, Road # 2<br>
                Dhanmondi R/A<br>Dhaka-1205<br>
                Bangladesh
            </address>
        </div>
    </footer>
</body>
